
@font-face {
    font-family: "coinone_glyph_ui";
    src: url('../font/coinone_glyph_ui.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "coinone_glyph_coin";
    src: url('../font/coinone_glyph_coin.woff2') format('woff2');
    font-weight: 400;
}


@font-face {
    font-family: 'sf';
    src: url(../font/SFProKRDisplay_regular.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'sf';
    src: url(../font/SFProKRDisplay_medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'sf';
    src: url(../font/SFProKRDisplay_semibold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'sf';
    src: url(../font/SFProKRDisplay_bold.woff2) format('woff2');
    font-weight: 700;
}


@font-face {
    font-family: 'sf-pro';
    src: url(../font/sf-pro-display_regular.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'sf-pro';
    src: url(../font/sf-pro-display_medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'sf-pro';
    src: url(../font/sf-pro-display_semibold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'sf-pro';
    src: url(../font/sf-pro-display_bold.woff2) format('woff2');
    font-weight: 700;
}