section{
    .link-more{
        display: block;
        color: #888;
        font-size: 14px;
    }
    .btn-box{
        margin-top: 25px;
        display: flex;
        gap: 15px;
        @include mobile{
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            padding: 12px 30px;
            background: #efefef;
            @include mobile{
                justify-content: center;
                gap: 10px;
                padding: 12px 30px;
            }
            p{
                line-height: 1.2;
                font-size: 16px;
            }
            span{
                font-size: 12px;
                color: #888;
            }
        }
        a:hover{
            background: #0058ff;
            color: #fff;
            span{
                color: #efefef;
            }
            path{
                fill: #fff;
            }
        }
        
    }
    .br{
        @include mobile{
            display: block;
        }
    }
} 




.sc-intro{
    height: 100vh;
    padding: 0 60px;
    @include tablet{
        height: inherit;
        padding-top: 120px;
    }
    @include mobilemax{
        padding: 100px 20px 0;
    }
    .common-inner{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tablet{
            flex-direction: column;
            gap: 100px;
        }
        @include mobilemax{
            gap: 70px;
        }
    }
    .title-area{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include tablet{
            align-items: center;
            text-align: center;
        }
        @include mobilemax{
            font-size: 45px;
            line-height: 1.2;
        }
        .title{
            line-height: 1.35;
            font-size: 55px;
            @include mobilemax{
                font-size: 45px;
                line-height: 1.2;
            }
            .mo{
                @include mobile{
                    display: block;
                }
            }
            strong{color: #0058ff; font-weight: 700;}
            img{
                width: 55px;
                height: 55px;
                display: inline-block;
                @include mobilemax{
                    display: none;
                }

            }
        }
        .desc{
            font-size: 21px;
            color: #86868b;
            @include mobilemax{
                font-size: 16px;
                line-height: 1.5;
            }
            span{
                display: inline-block;
                font-weight: 500;
                padding-bottom: 7px;
            }
        }
        
    }
    .chart-area{
        width: 50%;
        @include tablet{
            width: 80%;
        }
        @include mobilemax{
            width: 100%;
        }
        .title{
            font-size: 21px;
            font-weight: 600;
            padding-bottom: 10px;
        }
        .chart-list{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .chart-item{
            a{
                width: 100%;
                display: flex;
                align-items: center;
                border-radius: 10px;
                padding: 10px 30px;
                background: #fff;
                box-shadow: 0 2px 4px rgb(#000,0.1);
                @include mobile{
                    padding: 10px;
                }
            }
            .name-box{
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                @include mobilemax{
                    margin-left: 10px;
                }
                .name{
                    font-weight: 700;
                    font-size: 16px;
                }
                .name-s{
                    font-size: 12px;
                    color: #6e6e73;
                }
            }
            .price-box{
                margin-left: auto;
                display: flex;
                gap: 50px;
                font-size: 15px;
                color: #0071e3;
                @include mobile{
                    gap: 7px;
                    font-size: 12px;
                }
                .money{
                    color: #6e6e73;
                }
                .perc{
                    font-weight: 600;
                }
                .red{
                    color: #bf4800;
                }
            }
        }
        [class*="glyph-coin"]{
            font-family: 'coinone_glyph_coin';
            font-size: 20px;
            color: #fff;
            width: 38px; height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #0058ff;
            border-radius: 8px;
        }
        .glyph-coin-xrp{
            &::before{
                content: "\e9ee";
            }
        }
        .glyph-coin-btc{
            &::before{
                content: "\e925";
            }
        }
        .glyph-coin-tari{
            &::before{
                content: "\ea10";
            }
        }
        .glyph-coin-eth{
            &::before{
                content: "\e951";
            }
        }
        .glyph-coin-mch{
            &::before{
                content: "\e98e";
            }
        }
        .glyph-coin-we{
            &::before{
                content: "\ea0c";
            }
        }
        .glyph-coin-sml{
            &::before{
                content: "\ea13";
            }
        }
    }
}




.sc-roll{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    @include mobilemax{
        padding: 80px 0;
    }
    .roll-wrapper{
        display: flex;
        gap: 10px;
        &.roll1{
            position: relative;
            z-index: 1;
            transform: rotate(-4deg);
            ul{
                animation: slide-left 15s linear infinite;
            }
        }
        &.roll2{
            filter: blur(5px);
            transform: rotate(10deg);
            ul{
                transform: translateX(-100%);
                animation: slide-right 30s linear infinite;
            }
            li{
                font-size: 30px;
                @include desktop{
                    font-size: 20px;
                }
                @include mobilemax{
                    font-size: 13px;
                    padding: 15px 25px;
                }
            }
        }
    }

    ul{
        display: flex;
        gap: 10px;
    }
    li{
        width: auto;
        border-radius: 100px;
        background-color:#0058ff;
        font-size: 40px;
        padding: 25px 30px;
        color: #fff;
        font-weight: 300;
        @include desktop{
            font-size: 30px;
        }
        @include mobilemax{
            font-size: 20px;
            padding: 15px 25px;
        }
    }
    @keyframes slide-left {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }
    @keyframes slide-right {
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(-50%);
        }
    }
}



.sc-service{
    position: relative;
    padding: 0 20px;
    .service-area{
        position: relative;
        overflow: hidden;
        position: sticky;
        top: 40px; left: 0;
        width: 100%;
        height: 90vh;
        padding: 70px 120px;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        gap: 100px;
        @include tablet{
            height: 85vh;
            top: 80px;
        }
        @include mobilemax{
            margin-top: 15px;
            padding: 0;
            gap: 50px;
        }
        &.area1{
            background: rgb(36,112,255);
            background: linear-gradient(217deg, rgba(36,112,255,1) 0%, rgba(67,209,244,1) 100%);
            
            
        }
        &.area2{
            background: rgb(0, 80, 228);
            background: linear-gradient(217deg, rgba(0, 80, 228,1) 0%, rgb(0, 188, 236) 100%);
        }
        &.area3{
            background: rgb(0, 74, 211);
            background: linear-gradient(217deg, rgba(0, 74, 211,1) 0%, rgb(0, 132, 255) 100%);
        }
        &.area4{
            background: rgb(0, 30, 165);
            background: linear-gradient(217deg, rgba(0, 30, 165,1) 0%, rgb(0, 166, 255) 100%);
        }
    }
    .info-box{
        position: absolute;
        left: 100px;
        display: flex;
        flex-direction: column;
        color: #fff;
        
        @include tablet{
            left: 50px;
        }
        @include mobilemax{
            padding: 50px 0 0 40px;
            margin-top: 40px;
            position: static;
        }
        .label{
            font-weight: 600;
            font-size: 21px;
            margin-bottom: 150px;
            @include tablet{
                margin-top: 30px;
                margin-bottom: 60px;
            }
            @include mobilemax{
                margin-top: 0px;
                font-size: 14px;
                margin-bottom: 25px;
            }
            
        }
        
        .title{
            font-size: 9vh;
            font-weight: 600;
            padding-bottom: 20px;
            @include tablet{
                font-size: 60px;
            }
            @include mobilemax{
                padding-bottom: 10px;
                font-size: 40px;
                line-height: 1.2;
            }
            
        }
        .desc{
            font-size: 2.5vw;
            font-weight: 600;
            @include tablet{
                font-size: 24px;
            }
            @include mobilemax{
                font-size: 15px;
            }
        }
        
    }
    figure{
        display: none;
        @include mobilemax{
            display: block;
            position: absolute;
            bottom: -5px; right: -10px;
            scale: 3;
            opacity: 0.3;
        }
        @include mobile{
            bottom: -5px; right: -100px;
            scale: 2;
        }
    }
    
    .thumb-box{
        position: absolute;
        right: 70px;
        width: 30vw;
        display: flex;
        align-items: center;
        @include desktop{
            padding-top: 20px;
            width: 20vw;
        }
        @include tablet{
            right: 40px;
            height: 60vh;
        }
        @include mobilemax{
            display: none;
        }
    }
    
    
}


.sc-main{
    padding: 200px 120px;
    overflow: hidden;
    @include desktop{
        padding: 160px 40px 80px;
    }
    
    @include mobilemax{
        padding: 100px 0px 50px;
    }
    .title-area{
        padding-bottom: 50px;
        @include desktop{
            text-align: center;
        }
        .title{
            padding-left: 50px;
            font-size: 96px;
            font-weight: 600;
            line-height: 1.25;
            color: #0058ff;
            font-family: 'sf';
            @include desktop{
                padding-left: 0;
                font-size: 65px;
            }
            @include mobilemax{
                font-size: 40px;
            }
            img{
                display: inline-block;
                width: 90px; height: 90px;
            }
        }
    }
    .info-area{
        display: flex;
        gap: 120px;
        @include desktop{
            justify-content: start;
            flex-direction: column;
            align-items: center;
            padding-bottom: 80px;
            gap: 20px;
        }
        .column-left{
            width: 398px; height: 510px;
            border-radius: 1000px;
            overflow: hidden;
            background-image: url('../images/sc-main-column-bg.jpeg');
            background-repeat: no-repeat;
            background-size: auto 510px;
            background-position: -425px 0;
            @include desktop{
                width: 350px;
                height: 440px;
            }
            @include mobilemax{
                width: 250px;
                height: 330px;
                background-size: auto 330px;
                background-position: -280px 0;
            }
        }
        .column-right{
            .desc{
                padding-top: 20px;
                font-size: 32px;
                font-weight: 500;
                color: #6e6e73;
                @include desktop{
                    font-size: 21px;
                    text-align: center;
                }
                @include mobilemax{
                    font-size: 15px;
                    line-height: 1.5;
                }
                strong{
                    font-weight: 600;
                    display: block;
                    color: #0058ff;
                    padding-bottom: 10px;
                    @include mobile{
                        font-size: 8.5vw;
                    }
                }
            }
            .btn-box{
                @include tablet{
                    margin-top: 40px;
                }
            }
        }
    }
    .theme-area{
        margin-top: -70px;
        margin-left: 35vw;
        display: flex;
        gap: 50px;
        @include desktop{
            margin-left: 400px;
            overflow-x: auto;
            margin: inherit;
            padding: 0 40px;
        }
        @include mobilemax{
            gap: 20px;
            padding: 0 20px;
        }
        .theme-box{
            .thumb{
                width: 326px;
                height: 290px;
                border-radius: 25px;
                border: 2px solid #cbddff;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                @include mobilemax{
                    width: 300px;
                    height: 300px;
                }
                @include mobile{
                    width: 250px;
                    height: 250px;
                }
                img{
                    width: 250px; height: 250px;
                    @include mobile{
                        width: 60vw;
                        height: auto;
                    }
                }
            }
            .text{
                padding-left: 15px;
                margin-top: 25px;
            }
            strong{
                font-size: 32px;
                font-weight: 600;
                color: #0058ff;
                display: block;
                padding-bottom: 5px;
                @include mobilemax{
                    font-size: 25px;
                }
            }
            p{
              
                font-size: 19px;
                color: #6e6e73;
                font-weight: 500;
                @include mobilemax{
                    font-size: 15px;
                }
            }
        }
    }
}


.sc-reward{
    margin-top: 150px;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    @include desktop{
        margin-top: 80px;
        padding: 0 60px;
        align-items: center;
    }
    @include mobilemax{
        padding: 0 20px;
        margin-top: 40px;
    }
    .text-area{
        margin-right: 120px;
        @include desktop{
            margin: inherit;
            text-align: center;
        }
        strong{
            font-size: 6.7vw;
            font-weight: 600;
            line-height: 1.2;
            color: #0058ff;
            @include desktop{
                font-size: 65px;
            }
            @include tablet{
                font-size: 53px;
            }
            @include mobilemax{
                font-size: 40px;
            }
        }
        p{
            font-size: 32px;
            margin-top: 20px;
            color: #6e6e73;
            font-weight: 500;
            @include desktop{
                font-size: 24px;
            }
            @include mobilemax{
                font-size: 15px;
                line-height: 1.5;
            }
        }
        .link-box{
            margin-top: 40px;
            font-size: 19px;
            color: #6e6e73;
            font-weight: 500;
            display: flex;
            gap: 20px;
            @include desktop{
                font-size: 16px;
                justify-content: center;
            }
            @include mobilemax{
                margin-top: 25px;
                font-size: 15px;
            }
            a:hover{
                color: #0058ff;
            }
        }
    }
    .thumb-area{
        margin-top: 70px;
        width: 80vw;
        height: 592px;
        border-radius: 50px;
        background: #cbddff;
        background-image: url('../images/reward-bg.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
        @include tablet{
            height: 400px;
        }
        @include mobilemax{
            margin-top: 50px;
            height: 300px;
            background-size: 50vh;
        }
    }
}



.sc-appdown{
    margin: 200px 0 150px;
    padding: 0 120px;
    @include desktop{
        margin: 80px 0;
    }
    @include tablet{
        padding: 0;
    }
    @include mobilemax{
        margin: 0;
    }
    .graphic-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .tag-box{
            position: absolute;
            top: 0; left: 120px;
            .tag-text{
                padding-bottom: 10px;
            }
            span{
                display: inline-block;
                border-radius: 100px;
                background: #fff;
                box-shadow: 2px 1px 10px rgba($color: #0058ff, $alpha: 0.1);
                padding: 5px 12px;
                margin-right: 10px;
                font-weight: 700;
                color: #0058ff;
            }
        }
        .thumb-box{
            position: relative;
            width: 100%;
            height: 485px;
            overflow: hidden;
            background-image: url('../images/bg(1).svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            @include tablet{
                background-size: cover;
            }
            @include mobilemax{
                height: 300px;
            }
            img{
                position: absolute;
                bottom: 0px;
                right: 100px;
                width: 25vw;
                transform: scaleX(-1);
                @include tablet{
                    width: 220px;
                }
                @include mobilemax{
                    width: 150px;
                    right: 0;
                }
            }
        }
    }
    .info-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        @include tablet{
            margin-top: 20px;
        }
        .text-box{
            text-align: center;
            strong{
                font-size: 96px;
                font-weight: 600;
                color: #0058ff;
                display: block;
                @include desktop{
                    font-size: 65px;
                }
                @include tablet{
                    font-size: 53px;
                }
                @include mobilemax{
                    font-size: 40px;
                    line-height: 1.2;
                }
            }
            p{
                font-size: 32px;
                color: #6e6e73;
                font-weight: 500;
                margin-top: 30px;
                display: inline-block;
                @include desktop{
                    font-size: 24px;
                    margin-top: 20px;
                }
                @include mobilemax{
                    font-size: 15px;
                    margin-top: 20px;
                    line-height: 1.5;
                }
            }
        }
        .btn-box{
            margin-top: 60px;
            @include desktop{
                margin-top: 40px;
            }
        }
    }
}


.sc-trading{
    margin: 100px 0 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg_core_pc.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: circle(11.4% at 50% 50%);
    @include tablet{
        clip-path: none;
    }
    @include mobilemax{
        background-image: none;
        background: #136df9;
    }
    .text-area{
        text-align: center;
        color: #fff;
        .text-box{
            strong{
                font-size: 96px;
                font-weight: 600;
                line-height: 1.1;
                @include desktop{
                    font-size: 65px;
                }
                @include tablet{
                    font-size: 53px;
                }
                @include mobilemax{
                    font-size: 40px;
                }
                span{
                    font-size: 60px;
                    @include desktop{
                        font-size: 40px;
                    }
                    @include desktop{
                        font-size: 30px;
                    }
                    @include mobilemax{
                        font-size: 25px;
                    }
                }
            }
            p{
                font-size: 32px;
                font-weight: 500;
                padding: 30px 0 40px;
                @include desktop{
                    font-size: 24px;
                }
                @include mobilemax{
                    font-size: 15px;
                    line-height: 1.5;
                    padding: 20px 0 30px;
                }
            }
            
        }
        .link-go{
            margin-top: 20px;
            display: inline-block;
            font-size: 19px;
            font-weight: 500;
            border: 1px solid #fff;
            border-radius: 100px;
            padding: 10px 30px;
            @include desktop{
                font-size: 16px;
            }
            @include mobilemax{
                font-size: 15px;
            }
        }
        .link-go:hover{
            color: #0058ff;
            background: #fff;
        }
    }
}




.scroll-box{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    @include mobilemax{
        bottom: 30px;
        right: 20px;
    }
    .btn-top{
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        
        border-radius: 50%;
        background-color: #0058ff;
        box-shadow: 2px 3px 4px rgb(0 0 0 / 15%);
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        transform: translateY(100%);

    }
    .btn-top::before{
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        background-image: url('../images/top-scroll.svg');
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 25px; height: 25px;
    }
}
.btn-top.active{
    visibility: visible;
    opacity: 1;
    transition: .3s;
    transform: translateY(0%);
}







